/build
/example/build
/exampleFail/build
/exampleMulti/build
/exampleMulti/example/build
/exampleMulti/example2/build
/exampleMulti/example3/build
/node_modules
gradle-buster-plugin.iml
.idea
example/example.iml